.cart {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__list {
    flex: 1
  }

  &__controls-container {
    display: flex;
    align-items: flex-end;
  }

  &__buttons {
    display: flex;
    margin-left: auto;
    gap: 1rem;
  }

  &__item-container {
    display: flex;
  }

  &__item-price {
    margin-left: auto;
    margin-right: 1rem;
  }
}
