.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  &__list {
    flex: 1;
    overflow-y: auto;
  }

  &__controls-container {
    display: flex;
    align-items: flex-end;
  }

  &__buttons {
    display: flex;
    margin-left: auto;
    gap: 1rem;
  }

  &__item {
    &-container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    &-price {
      margin-left: auto;
      margin-right: 1rem;
    }

    &-quantity-controls {
      display: flex;
      gap: 0.5rem;
    }

    .button > span {
      display: block;
    }
  }
}
