.tables {
  display: flex;
  flex-direction: column;

  &__search {
    &__input {
      max-width: 20rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(auto-fill, 3rem);
    gap: 2rem;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 1rem;
    padding: 1rem;

    &_selected {
      background-color: white;
      border: 1px solid coral;
    }

    p {
      color: coral;
      font-size: 2rem;
    }
  }
}