.button {
  box-shadow: 3px 3px 7px coral;
  border: none;
  border-radius: 2rem;
  outline: none;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 1rem 0;
  margin-bottom: 1rem;
  background-color: #fff;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
    background-color: coral;
  }
}
