.button {
  box-shadow: 3px 3px 7px coral;
  border: 1px solid coral;
  border-radius: 2rem;
  outline: none;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 1rem 0;
  background-color: white;
  transition: 0.2s linear background-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &_small {
    line-height: 1rem;
    border-radius: 1rem;
    font-size: .75rem;
    padding: 0 .5rem 0;
    box-shadow: 1px 1px 3px coral;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: white;
    opacity: inherit;
  }

  &:hover {
    background-color: darksalmon;
    transition: 0.2s linear background-color;
    box-shadow: none;
  }

  &:active {
    opacity: 1;
    background-color: coral;
  }
}
