.cafe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  height: 100%;
  background-color: coral;
  gap: 1px;

  &__section {
    display: flex;
    background-color: #fff;
    padding: 1rem;
  }

  &__section-title {
    display: inline-block;
    margin-bottom: 1rem;
  }
}
