.cafe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  background-color: coral;
  gap: 1px;

  &__section {
    background-color: #fff;
    padding: 1rem;
  }
}
